<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tsm.snapkid.featurelauncher">

    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.SpotifyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.spotify.music.playbackstatechanged" />
                <action android:name="com.spotify.music.metadatachanged" />
                <action android:name="com.spotify.music.queuechanged" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.activity.AppsActivity"
            android:screenOrientation="portrait"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>